{% extends "base.html" %}


{% block content %}

{% with success_messages = get_flashed_messages(category_filter = ["success"]) %}
    {% for msg in success_messages%}
        <div class="alert alert-success">{{msg}}</div>
    {% endfor %}
{% endwith %}

<div class="row">
    <div class="col">
        <h1>Upload Images</h1>

        <form action="/uploads/gallery" method="POST" enctype="multipart/form-data">
            <label for="file">File Upload:</label>
            <input type="file" name="my_file" class="form-control">
            <input type="submit" class="btn btn-primary">

            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="description" name="description" class="form-control">
            </div>
        </form>
    </div>

</div>


{% endblock %}