{% extends "base.html" %}


{% block content %}

<!-- Search Bar -->
<div class="search-container">
    <label for="search">Search</label>
    <input type="text" class="search-input" placeholder="Search Here" id="table-input"
</div>
        

<!-- Image Gallery -->
<div class="gallery">
    <div class="row row-col-1 row-col-md-2 row-cols-lg-3 g-3">
        {% for img in images %}
            <div class="col">
                <div class="card h-100">
                    <img src="/uploads/{{ img.file_name }}" alt="images" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">Tile: {{ img.title }}</div>
                        <div class="card-text file-name">File Name: {{ img.file_name }}</div>
                        <div class="card-text description">Description: {{ img.description }}</div>
                        <div class="card-text extension">Extension Type: {{ img.extension}}</div>
                        <div class="card-text created-at">Created At: {{ img.created_at }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>



{% endblock %}