{% extends "base.html" %}

{% block content %}

<!-- Display Profile Picture if it exists-->
{% if user.profile_pic %}
    <div class="d-flex flex-column align-items-center mb-5">
        <img src="/uploads/{{ user.profile_pic }}" alt="profile pic" class="rounded-circle" style="width: 150px; height: 150px;">
        <div class="mt-2 profile-name"><h5>{{ user.first_name }} {{ user.last_name }}</h5></div>
    </div>
{% endif %}

<!-- Search Bar -->
<div class="search-container d-flex flex-column align-items-center mb-3">
    <label for="search"><h4>SEARCH</h4></label>
    <input type="text" class="search-input" placeholder="Search Here" id="table-input">
</div>

<!-- Image Gallery -->
<div class="gallery p-5 bg-body-secondary">
    <h2 class="text-center mb-4">GALLERY</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
        {% for img in images %}
            <div class="col">
                <div class="card h-100">
                    <img src="/uploads/{{ img.file_name }}" alt="images" class="card-img-top" style="object-fit: cover; height: 200px;">
                    <div class="card-body text-primary-emphasis">
                        <div class="card-title">Tile: {{ img.title }}</div>
                        <div class="card-text description">Description: {{ img.description }}</div>
                        <div class="card-text extension">Extension: {{ img.extension}}</div>
                        <div class="card-text created-at">Created At: {{ img.created_at.strftime("%B %d, %Y") }}</div>
                        <form action="/delete/{{img.id}}" method="POST" class="mt-5">
                            <button type="submit" class="btn btn-danger position-absolute bottom-0">DELETE PHOTO</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>



{% endblock %}