{% extends "base.html" %}

{% block content %}

<div class="card text-center mt-5">

    <div class="card-header">
        <h1>PhotoBooth</h1>
        <img src="/static/photo+polaroid.png" alt="">
    </div>

    <div class="card-body">
        <div class="card-title">Free storage and organization for all your memories</div>
        <a href="/login" class="btn btn-primary">GO TO PhotoBooth!</a>
    </div>
    <div class="card-footer">
        <div class="image-grid">
            <img src="/static/dashboard_images/aisle.png" alt="wedding">
            <img src="/static/dashboard_images/dance.png" alt="wedding">
            <img src="/static/dashboard_images/friends.png" alt="wedding">
            <img src="/static/dashboard_images/photo.png" alt="wedding">
            <img src="/static/dashboard_images/props.png" alt="wedding">
            <img src="/static/dashboard_images/truck.png" alt="wedding">
            <img src="/static/dashboard_images/wedding.png" alt="wedding">
        </div>
        <div class="image-grid">
            <img src="/static/dashboard_images/wedding.png" alt="wedding">
            <img src="/static/dashboard_images/aisle.png" alt="wedding">
            <img src="/static/dashboard_images/dance.png" alt="wedding">
            <img src="/static/dashboard_images/friends.png" alt="wedding">
            <img src="/static/dashboard_images/photo.png" alt="wedding">
            <img src="/static/dashboard_images/props.png" alt="wedding">
            <img src="/static/dashboard_images/truck.png" alt="wedding">
        </div>
        <div class="image-grid">
            <img src="/static/dashboard_images/truck.png" alt="wedding">
            <img src="/static/dashboard_images/wedding.png" alt="wedding">
            <img src="/static/dashboard_images/aisle.png" alt="wedding">
            <img src="/static/dashboard_images/dance.png" alt="wedding">
            <img src="/static/dashboard_images/friends.png" alt="wedding">
            <img src="/static/dashboard_images/photo.png" alt="wedding">
            <img src="/static/dashboard_images/props.png" alt="wedding">
        </div>

    </div>


</div>

{% endblock %}
